body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: white;
  font-size: 6rem;
  margin-top: 50px auto 0 auto line-height: 2;
  font-weight: normal;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: normal;
  padding-bottom: 10PX;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: gold
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: gold;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

h1:hover {
  color: gold;
}

a:hover {
  color: #7FFFD4
}

.mountain {
  width: 800px;
}

.fd {
  color: white;
  font-size: 2rem
}

.fd:hover {
  color: gold;
}

.top-container {
  background: #11999E;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-cloud {
  position: absolute;
  color: lightblue;
  width: 18%;
  right: 100px;
  top: 250px;
}

.bottom-cloud {
  color: lightblue;
  position: absolute;
  left: 300px;
}

.Aiden {
  border-radius: 100%;
  height: 140px;
}

.bitcoin {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.chilli {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.intro {
  width: 30%;
  margin: auto;
}

.skillsinfo {
  width: 40%;
  margin: 40px auto 60px;
}

.copy {
  color: grey;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
